services:
  search-elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9201:9200

  search-queue:
    image: rabbitmq:3.11-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  search-cache:
    image: redis:7-alpine
    ports:
      - 6380:6379

  # search-service:
  #   build: .
  #   env_file: .env
  #   depends_on:
  #     - search-elastic
  #     - search-queue
  #     - search-cache
  #   ports:
  #   - 4002:4002

  # prometheus:
  #   image: prom/prometheus:alpine
  #   volumes:
  #     - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
  #   ports:
  #     - 9090:9090

  # grafana:
  #   image: grafana/grafana:9.6.11-alpine
  #   environment:
  #     - GF_SECURITY_ADMIN_PASSWORD=admin
  #   ports:
  #     - 3000:3000
  #   depends_on:
  #     - prometheus

  # redis-exporter:
  #   image: oliver006/redis_exporter:alpine
  #   command: ["--redis.addr=redis://redis:6379"]
  #   ports:
  #     - 9121:9121

volumes:
  esdata: