apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    version: 1
    editable: true
    basicAuth: false
    isDefault: true

  - name: Alertmanager
    type: alertmanager
    access: proxy
    orgId: 1
    url: http://alertmanager:9093
    version: 1
    editable: true
    basicAuth: false
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false
    isDefault: false
